		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

<div class="container">
			<div class="row main">
				<div class="main-login main-center">

	<h2>Seller Signup</h2>
					<form #sellerRegForm="ngForm" (ngSubmit)="sellerRegForm.valid && sellerSignup(sellerRegForm)">
						
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Full Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="fullname" id="fullname"  placeholder="Enter your Full Name" [(ngModel)]="sellerObj.full_name" #fullname="ngModel" required #spy/>
                </div>
									<span class="pull-right text-danger" *ngIf="fullname.touched && fullname.errors?.required">This field required</span>
							</div>
						</div>

     
						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Your Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"  [(ngModel)]="sellerObj.email" #email="ngModel" [email]="true" required/>
								</div>
								<span class="pull-right text-danger" *ngIf="email.touched && email.errors?.required">This field required</span>
								<span class="pull-right text-danger" *ngIf="email.touched && !email.errors?.required && email.invalid">Invalid email</span>
							</div>
						</div>


						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password" [(ngModel)]="sellerObj.password" #password="ngModel" required minlength="6" validateEqual="confirm" reverse="true"/>
								</div>
								<span class="pull-right text-danger" *ngIf="password.touched && password.errors?.required">This field required</span>
								<span class="pull-right text-danger" *ngIf="password.errors?.minlength">minimum 6 characters</span>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password" [(ngModel)]="sellerObj.password_confirmation" #confirmpassword="ngModel" required validateEqual="password"/>
								</div>
								<span class="pull-right text-danger" *ngIf="confirmpassword.touched && confirmpassword.errors?.required">This field required</span>
								<span class="pull-right text-danger" *ngIf="confirmpassword.errors?.validateEqual || password.errors?.validateEqual">Password mismatch</span>
							</div>
						</div>
            
            <div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Phone</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="phone" id="phone"  placeholder="Enter your Phone" [(ngModel)]="sellerObj.phone" #phone="ngModel" required #spy/>
								</div>
								<span class="pull-right text-danger" *ngIf="phone.touched && phone.errors?.required">This field required</span>
							</div>
						</div>

						<div class="form-group ">
							<input type="submit" class="btn btn-warning btn-lg btn-block login-button" value="Register">
						</div>
						
					</form>
				</div>
			</div>
		</div>