		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
		<link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>

<div class="container">
			<div class="row main">
				<div class="main-login main-center">

	<h2>Agent Signup</h2>
					<form #agentRegForm="ngForm" (ngSubmit)="agentRegForm.valid && agentSignup(agentRegForm)">
						
						<div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Full Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="fullname" id="fullname"  placeholder="Enter your Full Name" [(ngModel)]="agentObj.full_name" #fullname="ngModel" required #spy/>
                </div>
									<span class="pull-right text-danger" *ngIf="fullname.touched && fullname.errors?.required">This field required</span>
							</div>
						</div>

     
						<div class="form-group">
							<label for="email" class="cols-sm-2 control-label">Your Email</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="email" id="email"  placeholder="Enter your Email"  [(ngModel)]="agentObj.email" #email="ngModel" [email]="true" required/>
								</div>
								<span class="pull-right text-danger" *ngIf="email.touched && email.errors?.required">This field required</span>
								<span class="pull-right text-danger" *ngIf="email.touched && !email.errors?.required && email.invalid">Invalid email</span>
							</div>
						</div>


						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="password" id="password"  placeholder="Enter your Password" [(ngModel)]="agentObj.password" #password="ngModel" required minlength="6" validateEqual="confirm" reverse="true"/>
								</div>
								<span class="pull-right text-danger" *ngIf="password.touched && password.errors?.required">This field required</span>
								<span class="pull-right text-danger" *ngIf="password.errors?.minlength">minimum 6 characters</span>
							</div>
						</div>

						<div class="form-group">
							<label for="confirm" class="cols-sm-2 control-label">Confirm Password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="password" class="form-control" name="confirm" id="confirm"  placeholder="Confirm your Password" [(ngModel)]="agentObj.password_confirmation" #confirmpassword="ngModel" required validateEqual="password"/>
								</div>
								<span class="pull-right text-danger" *ngIf="confirmpassword.touched && confirmpassword.errors?.required">This field required</span>
								<span class="pull-right text-danger" *ngIf="confirmpassword.errors?.validateEqual || password.errors?.validateEqual">Password mismatch</span>
							</div>
						</div>
            
            <div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Phone</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="phone" id="phone"  placeholder="Enter your Phone" [(ngModel)]="agentObj.phone" #phone="ngModel" required #spy/>
								</div>
								<span class="pull-right text-danger" *ngIf="phone.touched && phone.errors?.required">This field required</span>
							</div>
						</div>

            <div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Agency Name</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-university" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="agencyname" id="agencyname"  placeholder="Enter Agency Name" [(ngModel)]="agentObj.agency_name" #agencyname="ngModel" required #spy/>
								</div>
								<span class="pull-right text-danger" *ngIf="agencyname?.touched && agencyname.errors?.required">This field required</span>
							</div>
						</div>

             <div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Address</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-address-book fa" aria-hidden="true"></i></span>
									<textarea class="form-control" name="address" id="address"  placeholder="Enter Address" [(ngModel)]="agentObj.address" #agencyname="ngModel" required #spy></textarea>
								</div>
								<span class="pull-right text-danger" *ngIf="address?.touched && address.errors?.required">This field required</span>
							</div>
						</div>

            <div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Zip</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-address-book fa" aria-hidden="true"></i></span>
									
                  <template #customItemTemplate let-model="item" let-index="index">
                    <h5>{{model.city}}</h5>
                  </template>
                  <input [(ngModel)]="agentObj.zip_code"
                  [typeahead]="states"
                  typeaheadOptionField="zip"
                  typeaheadOptionsLimit="7"
                  [typeaheadItemTemplate]="customItemTemplate"
                  name="zip"
                  #zip="ngModel"
                  class="form-control" placeholder="Zip" required>
								</div>
								<span class="pull-right text-danger" *ngIf="realestlic?.touched && realestlic.errors?.required">This field required</span>
							</div>
						</div>

            <div class="form-group">
							<label for="name" class="cols-sm-2 control-label">Real Estate License</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-address-book fa" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="realestlic" id="realestlic"  placeholder="Enter Real Estate Lincense" [(ngModel)]="agentObj.real_estate_license" #realestlic="ngModel" required #spy/>
								</div>
								<span class="pull-right text-danger" *ngIf="realestlic?.touched && realestlic.errors?.required">This field required</span>
							</div>
						</div>


						<div class="form-group ">
							<input type="submit" class="btn btn-warning btn-lg btn-block login-button" value="Register">
						</div>
						
					</form>
				</div>
			</div>
		</div>

    <br>
    <br>