<br>
<h2>Create Property</h2>
<div class="container">
  <form #propertyForm="ngForm" novalidate>
    {{zip.errors?.required | json}}
  <input [(ngModel)]="prop.zip"
       [typeahead]="states"
       (typeaheadOnSelect)="typeheadSelect($event)"
       typeaheadOptionField="city"
       name="zip"
       #zip="ngModel"
       class="form-control" required>

  <input type="text" class="form-control" name="city" [(ngModel)]="prop.city" placeholder="city">
  <input type="text" class="form-control" name="state" [(ngModel)]="prop.state" placeholder="state">
  </form>     

</div>